snippet tkz tikzpicture
	\begin{tikzpicture}[scale=1, >=stealth${1}]
		${2}
	\end{tikzpicture}
	${0}

snippet cols columns
	\begin{columns}
		\begin{columns}{${1:0.5}\textwidth}
		${3}
		\end{columns}
		\begin{columns}{${2:0.5}\textwidth}
		\end{columns}
	\end{columns}
	${0}
